@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Open+Sans&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url("../images/dnd.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Merienda', cursive;
}

#container {
  margin: 10em auto;
  max-width: 550px;
  background-color: rgba(189, 195, 199, .8);
  padding: 2em 3em;
  border-radius: 12px;
}

span, li {
  color: rgb(103, 32, 29)
}

select {
  width: 15em;
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
}

button {
  background-color: rgb(103, 32, 29);
  color: whitesmoke;
  padding: .5em 1em;
  border-radius: 12px;
  border: none;
  margin-left: 1em;
}